name: CI


on:
  pull_request:
  push:
    branches: [main]
    tags: ['*']
  workflow_dispatch:


jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.4
      - name: Cache bun global cache
        uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-cache-${{ hashFiles('bun.lockb') }}
      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-bun-modules-${{ hashFiles('bun.lockb') }}
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - run: bun run build
      - run: bun run test
      - run: bun run lint:ci
