name: CI


on:
  pull_request:
  push:
    branches: [main]
    tags: ['*']
  workflow_dispatch:


permissions:
  id-token: write # For OIDC
  contents: write # For creating releases


jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.6
      - uses: actions/setup-node@v6
        with:
          node-version-file: package.json
      - name: Cache bun global cache
        uses: actions/cache@v5
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-cache-${{ hashFiles('bun.lockb') }}
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - run: bun run build:dev
      - run: bun run test
      - run: bun run lint:ci


  publish:
    needs: test
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.6
      - uses: actions/setup-node@v6
        with:
          node-version-file: package.json
          registry-url: 'https://registry.npmjs.org'
      - name: Cache bun global cache
        uses: actions/cache@v5
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-cache-${{ hashFiles('bun.lockb') }}
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Build package
        run: bun pm pack --filename textmate-grammar-test.tgz
      - name: Publish to npmjs.org
        run: NODE_AUTH_TOKEN="" npm publish ./textmate-grammar-test.tgz --access public
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
