name: CI


on:
  pull_request:
  push:
    branches: [main]
    tags: ['*']
  workflow_dispatch:


permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.4
      - uses: actions/setup-node@v6
        with:
          node-version-file: package.json
      - name: Cache bun global cache
        uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-cache-${{ hashFiles('bun.lockb') }}
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - run: bun run build:dev
      - run: bun run test
      - run: bun run lint:ci


  publish:
    needs: test
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.4
      - name: Cache bun global cache
        uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-cache-${{ hashFiles('bun.lockb') }}
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Publish to NPM
        run: bun publish
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
